In [ ]:
#Table of contents
#This includes merging data

In [1]:
#Import Data

In [2]:
import pandas as pd
import numpy as np
import os

In [4]:
df_prods=pd.read_csv(r'/Users/hillelkrief1/Desktop/CareerFoundry/Course 2 Data Immersion/Achievement 4/Instacart Basket Analysis 08-2022/02 Data/Prepared Data/products_checked.csv',index_col=None)

In [5]:
df_ords=pd.read_csv(r'/Users/hillelkrief1/Desktop/CareerFoundry/Course 2 Data Immersion/Achievement 4/Instacart Basket Analysis 08-2022/02 Data/Prepared Data/orders_checked_updated.csv',index_col=None)

In [17]:
df_raw=pd.read_csv(r'/Users/hillelkrief1/Desktop/CareerFoundry/Course 2 Data Immersion/Achievement 4/Instacart Basket Analysis 08-2022/02 Data/4.3_orders_products/orders.csv',index_col=None)

In [23]:
df_merged_large=pd.read_pickle(r'/Users/hillelkrief1/Desktop/CareerFoundry/Course 2 Data Immersion/Achievement 4/Instacart Basket Analysis 08-2022/02 Data/Prepared Data/orders_products_combined.pkl')

In [18]:
df_raw.shape

(3421083, 7)

In [19]:
df_raw.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [6]:
#Check Data to decide which column to base combine on

In [7]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [8]:
df_ords.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,2539329,2539329,1,2,8,NaN
1,1,2398795,2398795,2,3,7,15.0
2,2,473747,473747,3,3,12,21.0
3,3,2254736,2254736,4,4,7,29.0
4,4,431534,431534,5,4,15,28.0

In [9]:
#Merge the data

In [25]:
df_merged_large=df_merged_large.drop(columns= ['_merge'])

In [26]:
df_orders_products_combined=df_prods.merge(df_merged_large, on='product_id',indicator = True)

In [27]:
df_orders_products_combined.head()

,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,1987,3139998,3139998,28,6,11,3.0,5,0,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1989,1977647,1977647,30,6,17,20.0,1,1,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,11433,11433,389851,389851,2,0,21,6.0,20,0,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,12198,12198,652770,652770,1,3,13,NaN,10,0,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,12200,12200,1813452,1813452,3,4,17,9.0,11,1,both

In [28]:
#I had to drop a column because the prepared dataset already had a merge column

In [29]:
df_orders_products_combined['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [30]:
df_orders_products_combined.to_csv(r'/Users/hillelkrief1/Desktop/CareerFoundry/Course 2 Data Immersion/Achievement 4/Instacart Basket Analysis 08-2022/02 Data/Prepared Data/orders_products_merged.csv', index=False)